$background-color: #212731;
$font-inter: 'Inter', sans-serif;
$text-black: #2c384a;
$text-gray: #727d87;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-inter;
	background-color: #fbfcfd;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.5rem;
}
